
.trans{
  width: 800px;
  height: 400px;
}
h3 {
  text-align: center;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;

}

.container {
  width: 800px;
  height: 400px;
  padding-left: 35px;
  margin-left: 50px;


}
/* .table {
  text-align: center;
  font-size: 24px;
  border: 1px solid black;
  border-spacing: 20px;
} */
button {
  margin-left: 90px;
}

table {
  width: 60%;
  margin: 50px;
}

th.mat-sort-header-sorted {
  color: black;
}
