<div class="trans">
<h3 class="p-6 text-center">list of Transactions</h3>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>source</th>
                <th>distination</th>
                <th>description</th>
                <th>amount</th>
                <th>budget</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td>{{transaction.transId}}</td>
                <td>{{transaction.source}}</td>
                <td>{{transaction.distination}}</td>
                <td>{{transaction.description}}</td>
                <td>{{transaction.amount}}</td>
                <td>{{transaction.budget}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>


