.container {
  width: 800px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px;
  margin-bottom: 1rem;
  background: linear-gradient(75deg, rgb(112, 62, 231), rgb(5, 5, 138));


}
.mat-card-title {
  width: 150px;

}
.button {
  background-color: aliceblue;
  height: 24px;
  margin-left: 220px;
  margin-top: 30px;
  background: linear-gradient(75deg, rgb(112, 62, 231), rgb(5, 5, 138));

}
.addAccount {
    margin: 30px;
    font-size: 20px;
    text-transform: capitalize;


  }

