<div class="top-bar">
  <h1>Personal Bank Account</h1>
</div>
<mat-toolbar>
  <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" >
    <mat-icon>menu</mat-icon>
    <span>Saba`s Account</span>
  </button>
</mat-toolbar>

<div class="menu">
  <ul>
    <li><a (click)="Http.startAccount()">Bank Account</a></li>
    <li><a (click)="Http.startBudge()">Budget</a></li>
    <li><a (click)="Http.startTransaction()">Transactions</a></li>
    <li><a (click)="Http.startDashbard()">Dashboard</a></li>
  </ul>
</div>

<app-budgets *ngIf="this.Http.getShowBudget()"></app-budgets>
<app-transactions *ngIf="Http.getShowTransction()"></app-transactions>

