
<div class="parent">
  <!-- <button type="button" (click)="Http.startNewTransaction()">Start New Transaction</button> -->
    <h2 *ngIf="Http.getloading()">Loading your Transactions</h2>
  <app-list-transactions ></app-list-transactions>

</div>
<div>

</div>












<!-- <form>
  <section class="addTransaction">
    <mat-form-field>
      <mat-label class="account" required [(ngModel)]="source" name="source">Account</mat-label>
      <mat-select>
        <mat-option value="checking">Checking</mat-option>
        <mat-option value="saving">Saving</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="distination" required [(ngModel)]="distination" name="distination">Distination</mat-label>
      <mat-select>
        <mat-option value="house">House Expenses</mat-option>
        <mat-option value="car">Car Expenses</mat-option>
        <mat-option value="personal">Personal Expenses</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="description" required [(ngModel)]="description" name="description">description</mat-label>
      <input matInput placeholder="description">
    </mat-form-field>
    <mat-form-field>
      <mat-label class="amount" required [(ngModel)]="amount" name="amount">Amount</mat-label>
      <input matInput placeholder="amount">
    </mat-form-field>
    <section class="add-transaction">
      <div>
        <button class="button" type="submit">Add Transaction</button>
      </div>
    </section>

  </section>
</form> -->




<!-- in my transaction, I can iterate my getTransaction method, also I need to send this paticular transaction to the dashbord component -->
<!-- <app-dashbord *ngFor="let transaction of Http.getTransactions()" [transaction]="transaction"></app-dashbord> -->
<!-- [transaction ] will send this transaction in to the dashbord component -->

<!--
<div class="trans">
  <h3 class="p-6 text-center">list of Transactions</h3>
  <div class="container">
      <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>source</th>
                  <th>distination</th>
                  <th>description</th>
                  <th>amount</th>
                  <th>budget</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let transaction of Http.getAllTransaction()">
                  <td>{{transaction.transId}}</td>
                  <td>{{transaction.source}}</td>
                  <td>{{transaction.distination}}</td>
                  <td>{{transaction.description}}</td>
                  <td>{{transaction.amount}}</td>
                  <td>{{transaction.budget}}</td>
              </tr>
          </tbody>
      </table>
  </div>
  </div> -->
