<section class="addTransaction">
  <mat-form-field>
    <mat-label class="account" required [(ngModel)]="source" name="source">Account</mat-label>
    <mat-select>
      <mat-option value="checking" >Checking</mat-option>
      <mat-option value="saving" >Saving</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label class="distination" required [(ngModel)]="distination" name="distination">Distination</mat-label>
    <mat-select>
      <mat-option value="house">House Expenses</mat-option>
      <mat-option value="car">Car Expenses</mat-option>
      <mat-option value="personal">Personal Expenses</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label class="description" required [(ngModel)]="description" name="description">description</mat-label>
    <input matInput placeholder="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label class="amount" required [(ngModel)]="amount" name="amount">Amount</mat-label>
    <input matInput placeholder="amount">
  </mat-form-field>
  <section class="add-transaction">
    <div class="add-transaction">
      <button type="submit" >Add Transaction</button>
    </div>
  </section>

</section>



<!-- in my transaction, I can iterate my getTransaction method, also I need to send this paticular transaction to the dashbord component -->
<!-- <app-dashbord *ngFor="let transaction of Http.getTransactions()" [transaction]="transaction"></app-dashbord> -->
<!-- [transaction ] will send this transaction in to the dashbord component -->

